<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Toss</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Select the Batting team</p>
    <ion-select placeholder="Who is Batting? " (ionChange)="selectTeam($event.detail.value)">
      <ion-select-option *ngFor="let st of selectedteams" [value]="st">{{st}}</ion-select-option>
    </ion-select>
  </div>

  <div class="ion-padding" [hidden]="TeamNotSelectedYet">
    <div>
      <p>Select Opening Batsmen</p>
      <ion-select multiple="true" cancelText="Cancel" okText="Done">
        <ion-select-option value="bacon">Bacon</ion-select-option>
      </ion-select>
    </div>

    <div>
      <p>Select Opening Bowler</p>
      <ion-select cancelText="Cancel" okText="Done">
        <ion-select-option value="bacon">Bacon</ion-select-option>
      </ion-select>
    </div>

    <div class="ion-text-center">
      <ion-button color="primary" (click)="startMatch()">
        Start Match
      </ion-button>
    </div>
  </div>
</ion-content>